---
import SHS from "../../layouts/SHS.astro";
---

<SHS>
  <main>
    <h1>Career development</h1>
    <a href="/to/github"> Github profile (social coding platform) </a>
    <br>
    <a href="/resume"> Resume </a>
  </main>
</SHS>
