---
import SHS from "../../layouts/SHS.astro";
---

<SHS>
  <main>
    <h1>International mobility</h1>
    <h2>
      Seven weeks in
      <abbr title="Japan">日本</abbr>
      <sup> Japan </sup>
    </h2>
    <p>
      I took Japanese as a second language course. I learned to read characters
      of both Japanese syllabaries, ひらがな (hiragana) & カタカナ (katakana). I
      then actually went there for almost two months! It was a great experience
      to discover the culture and daily life in another continent.
    </p>
    <ul>
      <li>Japanese language courses @ 横浜</li>
      <li>Internship @ 山中湖</li>
    </ul>
    <h2>
      Two weeks in
      <abbr title="Morocco"> المملكة المغربية </abbr><sup>Morocco</sup>
    </h2>
    <h2>POMI Module</h2>
    <dl>
      <dt>Interculturality video</dt>
      <dd>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/6rKUK1bhlOQ?si=KursnTE_a2igbRm8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
        <br />
        <a href="https://youtu.be/6rKUK1bhlOQ"> on YouTube </a>
      </dd>
      <dt>Documents</dt>
      <dd>
        <a href="https://media.gwen.works/pomi-documents.zip"
          >download (.zip archive)</a
        >
      </dd>
    </dl>
  </main>
</SHS>
