[submodule "builders/en"]
	path = builders/en
	url = https://github.com/gwennlbh/portfolio-build-en
[submodule "builders/fr"]
	path = builders/fr
	url = https://github.com/gwennlbh/portfolio-build-fr
