---
import type { GetStaticPaths } from "astro";
import { getCollection, getEntry } from "astro:content";
import StrongHeader from "../../components/StrongHeader.astro";
import Layout from "../../layouts/Regular.astro";

export const getStaticPaths = (async () =>
  getCollection("sites").then((sites) =>
    sites.map((site) => ({ params: { site: site.data.name } })),
  )) satisfies GetStaticPaths;

const target = await getEntry("sites", Astro.params.site ?? "");

if (!target) return Astro.rewrite("/404");
---

<Layout clientSideRedirect={target.data.url}>
  <StrongHeader title={`Redirecting to ${target.data.name}`}>
    <p>
      Go to <a href={target.data.url}>{target.data.name}</a>
    </p>
  </StrongHeader>
</Layout>
