---
import type { GetStaticPaths } from "astro";
import { getEntries, getEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Regular.astro";
import StrongHeader from "../../components/StrongHeader.astro";
import WorksGrid from "../../components/WorksGrid.astro";

export const getStaticPaths = (async () => {
  const entries = await getCollection("blogEntries");
  return entries.map(({ id }) => ({
    params: { entry: id },
  }));
}) satisfies GetStaticPaths;

const {
  data: { date, title, draft, works },
  rendered,
} = await getEntry("blogEntries", Astro.params.entry)!;

const dateFormatter = new Intl.DateTimeFormat(Astro.locals.locale, {
  dateStyle: "long",
});
---

<Layout>
  <StrongHeader
    title={{ en: title, fr: title }}
    wip={draft}
    back="/blog"
    editButton={`~/projects.local/portfolio/blog/${Astro.params.entry}.md`}
  >
    <p class="intro">
      <span i18n>published on</span>
      <time datetime={date.toISOString()}>
        {dateFormatter.format(date)}
      </time>
    </p>
  </StrongHeader>

  <main set:html={rendered!.html} />

  <section class="related">
    <h2 i18n>related works</h2>
    {
      await getEntries(works).then((entries) => (
        <WorksGrid works={entries.filter(Boolean).map((e) => e.data)} />
      ))
    }
  </section>
</Layout>

<style>
  main,
  p.intro {
    line-height: 1.5;
  }

  main {
    font-size: 1.2rem;
    max-width: min(80ch, 100%);
    margin: 0 auto;
  }

  main :global([aria-hidden="true"]) {
    display: none;
  }

  main :global(p:not(:has(img)), ul, dl, ol) {
    max-width: min(60ch, 100%);
    margin: 1em auto 2em;
  }

  main :global(p:has(img), pre.astro-code, .katex-display, table) {
    width: min(80ch, calc(100% - 2rem));
    margin: 2em auto;
  }

  main :global(p > img) {
    width: 100%;
    object-fit: contain;
    object-position: center;
  }

  main :global(h1, h2, h3, h4, h5, h6) {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  main :global(pre.astro-code) {
    font-family: "Victor Mono", monospace;
    font-size: 0.9rem;
    line-height: 1.4;
    padding: 1.2em;
  }
</style>
