---
import type { InferEntrySchema } from "astro:content"

type BlockParagraph =
  InferEntrySchema<"works">["content"][keyof InferEntrySchema<"works">["content"]]["blocks"][number]

interface Props extends BlockParagraph {}
---

<div class="block-paragraph-content" set:html={Astro.props.content}></div>

<style>
    .block-paragraph-content {
        font-size: 1.5em;
        line-height: 1.6;
        max-width: 40rem;
    }
</style>
