---
import { getEntry } from "astro:content";

interface Props {
  name: string;
}

const {
  data: { name, slug },
} = (await getEntry(
  "technologies",
  Astro.props.name?.toLowerCase() ?? "fu",
)) ?? {
  data: { name: "", slug: "" },
};
---

{
  name && slug ? (
    <strong>
      <a href={`/using/${slug}`}>{name}</a>
    </strong>
  ) : (
    <strong>{Astro.props.name}</strong>
  )
}
