---
import type { GetStaticPaths } from "astro";
import { getCollection, getEntry } from "astro:content";
import StrongHeader from "../../components/StrongHeader.astro";
import WorksGrid from "../../components/WorksGrid.astro";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = (async () => {
  const tags = await getCollection("tags");
  return tags.map((t) => ({ params: { tag: t.id } }));
}) satisfies GetStaticPaths;

const entry = await getEntry("tags", decodeURI(Astro.params.tag!.toString()));
if (!entry) return Astro.rewrite("/404");

const {
  plural,
  "learn more at": learnMoreAt,
  description,
  aliases,
  slug,
} = entry.data;

const works = await getCollection("works").then((works) =>
  works
    .map((w) => w.data)
    .filter(
      (w) =>
        !w.metadata.private &&
        w.metadata.tags?.some((t) => [slug, ...aliases].includes(t.id)),
    ),
);
---

<Layout>
  <StrongHeader title={plural}>
    <section class="description">
      <p>{description}</p>
      {
        learnMoreAt && (
          <a href={learnMoreAt} class="learn-more" i18n>
            learn more
          </a>
        )
      }
    </section>
  </StrongHeader>

  <main>
    <WorksGrid works={works} />
  </main>
</Layout>
