---
import StrongHeader from "../components/StrongHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <StrongHeader title="404">
    <p>Page not found</p>
    <a href="/">&lt;- go home</a>
  </StrongHeader>
</Layout>

<style></style>
