---
import WorksGrid from "../components/WorksGrid.astro";
import StrongHeader from "../components/StrongHeader.astro";
import Layout from "../layouts/Regular.astro";
import { getCollection, getEntry } from "astro:content";
import Logo from "../components/Logo.astro";

const works = (await getCollection("works")).map((w) => w.data);
const smolWorks = (await getEntry("collections", "smol"))?.data?.includes.split(
  " or ",
);
---

<Layout>
  <div class="header-with-logo">
    <Logo slot="title-pre" />
    <StrongHeader title="Hiya!">
      <p i18n>FEUR!!!! I'm Gwenn Le Bihan :3</p>
      <p i18n>interested in anything that touches art, technology or both</p>
      <a href="/resume">-&gt; <i18n>resume</i18n></a>
      <nav class="webring">
        <a href="https://n7webring.neocities.org/gwenn/prev">&lt;-</a>
        <a href="https://n7webring.neocities.org">n7webring</a>
        <a href="https://n7webring.neocities.org/gwenn/next">-&gt;</a>
      </nav>
    </StrongHeader>
  </div>

  <WorksGrid works={works.filter((w) => !smolWorks?.includes(w.id))} />
</Layout>

<style>
  .header-with-logo {
    --logo-size: 15em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 1em;

    p {
      text-wrap: balance;
    }

    @media (min-width: 1400px) {
      margin: 0 auto;
    }
  }

  .header-with-logo :global(*:not(svg)) {
    flex-shrink: 1;
  }

  .header-with-logo :global(header) {
    flex-grow: 1;
    flex-basis: 15ch;
  }

  nav.webring {
    opacity: 0.7;
    margin-top: 0.75em;

    a {
      text-decoration: none;
    }

    a[href="https://n7webring.neocities.org"]
    {
      font-family:
        Victor Mono,
        monospace;
      font-size: 0.8em;
    }
  }
</style>
