---
import { getEntry } from "astro:content"
import { resolveAliased } from "../aliases"

interface Props {
  tag: string | { id: string; collection: "tags" }
}

const tag = await getEntry(
  "tags",
  typeof Astro.props.tag === "string" ? Astro.props.tag : Astro.props.tag.id
)?.then((tag) => (tag ? { ...tag.data, slug: resolveAliased(tag.data) } : ""))
---

{tag && <a href={`/${tag.slug}`}>#{tag.singular}</a>}

<style>
  a {
    font-family: Inconsolata, monospace;
  }
</style>
