---
import { getEntry } from "astro:content";

interface Props {
  tag: string | { id: string; collection: "tags" };
}

const tag = await getEntry(
  "tags",
  typeof Astro.props.tag === "string" ? Astro.props.tag : Astro.props.tag.id,
)?.then((tag) =>
  tag
    ? {
        ...tag.data,
        slug:
          (tag.data as unknown as { isAliasOf: string | null }).isAliasOf ??
          tag.id,
      }
    : "",
);
---

{tag && <a href={`/${tag.slug}`}>#{tag.singular}</a>}

<style>
  a {
    font-family:
      Victor Mono,
      monospace;
  }
</style>
