---
import { getEntry } from "astro:content";

interface Props {
  tag: string | { id: string; collection: "tags" };
}

const tag = await getEntry(
  "tags",
  typeof Astro.props.tag === "string" ? Astro.props.tag : Astro.props.tag.id,
)?.then((t) => t?.data);
---

{tag && <a href={`/${tag.isAliasOf ?? tag.slug}`}>#{tag.singular}</a>}

<style>
  a {
    font-family:
      Martian Mono,
      monospace;
  }
</style>
